.bodyColor{
    background-color: #ffffff !important;
}
.paddingContainer{
    padding: 0px 25px !important;
}
.coloGris{
    color: #9899ac !important;
}

.paddingIcono{
    padding-left: 22px !important;
}